.drag-item {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  /* 27. */
  /* It must be a bubbling issue because uncommenting the next two lines will fix the problem */
  /* pointer-events: none; */
  /* touch-action: none; */
}
